

#display {
  background: #bcbcbc;
  padding: 8px;
  margin: 16px 12px 10px 16px;
  text-align: center;
  font-family: monospace;
  border-radius: 8px;
}

#result p{
  font-size:1.8em;
}

#result,
#current {
  text-align: right;
}

#calculator {
  text-align: center;
  width: 380px;
  display: block;
  border-radius:8px;
  border: 1px solid #abc6c2;
  padding:8px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  background: #224662;
}
